* { padding: 0px; margin: 0px; }
body{
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  color: #ffffff;
}
.text{
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  color: #ffffff;
  left: 90%;
  top: 83.2%;
}
.appme{
  position:absolute;
  display: block;
  margin-left: 90%;
  margin-top: 24.1%;
  filter: drop-shadow(0px 3px 5px rgba(255,88,103,0.35));
}
.facebook{
  position:absolute;
  display: block;
  margin-left: 92.2%;
  margin-top: 24%;
  filter: drop-shadow(0px 3px 5px rgba(255,88,103,0.35));
}
.github{
  position:absolute;
  display: block;
  margin-left: 94.2%;
  margin-top: 24.05%;
  filter: drop-shadow(0px 3px 5px rgba(255,88,103,0.35));
}
@keyframes ldio-njjn2umhhn {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(5.83,5.83);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-njjn2umhhn{
    position: absolute;
    left:457%;
    top:230%;
    margin-left:-150px;
    margin-top:-170px;
}
.ldio-njjn2umhhn div > div {
  position: absolute;
  width: 4px;
  height: 4.2px;
  border-radius: 50%;
  background: #6411ff;
  animation: ldio-njjn2umhhn 1.5384615384615383s linear infinite;
}.ldio-njjn2umhhn div:nth-child(1) > div {
  left: 146px;
  top: 98px;
  animation-delay: -1.3986013986013985s;
}
.ldio-njjn2umhhn > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 148px 100px;
}.ldio-njjn2umhhn div:nth-child(2) > div {
  left: 138px;
  top: 124px;
  animation-delay: -1.2587412587412588s;
}
.ldio-njjn2umhhn > div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  transform-origin: 140px 126px;
}.ldio-njjn2umhhn div:nth-child(3) > div {
  left: 118px;
  top: 142px;
  animation-delay: -1.1188811188811187s;
}
.ldio-njjn2umhhn > div:nth-child(3) {
  transform: rotate(65.45454545454545deg);
  transform-origin: 120px 144px;
}.ldio-njjn2umhhn div:nth-child(4) > div {
  left: 91px;
  top: 146px;
  animation-delay: -0.979020979020979s;
}
.ldio-njjn2umhhn > div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  transform-origin: 93px 148px;
}.ldio-njjn2umhhn div:nth-child(5) > div {
  left: 67px;
  top: 134px;
  animation-delay: -0.8391608391608392s;
}
.ldio-njjn2umhhn > div:nth-child(5) {
  transform: rotate(130.9090909090909deg);
  transform-origin: 69px 136px;
}.ldio-njjn2umhhn div:nth-child(6) > div {
  left: 52px;
  top: 112px;
  animation-delay: -0.6993006993006993s;
}
.ldio-njjn2umhhn > div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  transform-origin: 54px 114px;
}.ldio-njjn2umhhn div:nth-child(7) > div {
  left: 52px;
  top: 84px;
  animation-delay: -0.5594405594405594s;
}
.ldio-njjn2umhhn > div:nth-child(7) {
  transform: rotate(196.36363636363637deg);
  transform-origin: 54px 86px;
}.ldio-njjn2umhhn div:nth-child(8) > div {
  left: 67px;
  top: 62px;
  animation-delay: -0.4195804195804196s;
}
.ldio-njjn2umhhn > div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  transform-origin: 69px 64px;
}.ldio-njjn2umhhn div:nth-child(9) > div {
  left: 91px;
  top: 50px;
  animation-delay: -0.2797202797202797s;
}
.ldio-njjn2umhhn > div:nth-child(9) {
  transform: rotate(261.8181818181818deg);
  transform-origin: 93px 52px;
}.ldio-njjn2umhhn div:nth-child(10) > div {
  left: 118px;
  top: 54px;
  animation-delay: -0.13986013986013984s;
}
.ldio-njjn2umhhn > div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  transform-origin: 120px 56px;
}.ldio-njjn2umhhn div:nth-child(11) > div {
  left: 138px;
  top: 72px;
  animation-delay: 0s;
}
.ldio-njjn2umhhn > div:nth-child(11) {
  transform: rotate(327.27272727272725deg);
  transform-origin: 140px 74px;
}
.loadingio-spinner-spin-1oobnie90d1 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-njjn2umhhn {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-njjn2umhhn div { box-sizing: content-box; }
/* generated by https://loading.io/ */